<form class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="text">Tarea</label>
    <input
      type="text"
      name="text"
      id="text"
      placeholder="Escriba la tarea"
      [(ngModel)]="text"
    />
  </div>
  <div class="form-control">
    <label for="day">Fecha y Hora</label>
    <input
      type="text"
      name="day"
      id="day"
      placeholder="Fecha y hora"
      [(ngModel)]="day"
    />
  </div>
  <div class="form-control form-control-check">
    <label for="reminder">Recordar</label>
    <input
      type="checkbox"
      name="reminder"
      id="reminder"
      [(ngModel)]="reminder"
    />
  </div>
  <input type="submit" value="Guardar Tarea" class="btn btn-block" />
</form>
